.project{
    margin: 90px;
    width: 250px;
    height: 180px;
}  

.project > img{
    height: 300px;
    width: 300px; 
    transition: transform 200ms ease-in;
    /* margin-top: 50px; */
}

.project:hover{
    color: rgb(107, 29, 29);
    background-color:  rgb(231, 235, 14);
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 300px;
    width: 300px;
    
}

.project_content{
    padding: 5px;
}
.project_content>h4{
    padding-bottom: 5px;
}
.project_content>p{
    font-size: 15px;
}


@media screen and (min-width: 481px) and (max-width: 768px){
    .project{
        margin: 50px;
        width: 250px;
        height: 180px;
    }  
    
    .project > img{
        height: 200px;
        width: 200px; 
        transition: transform 200ms ease-in;
    }
    
    .project:hover{
        color: rgb(107, 29, 29);
        background-color:  rgb(231, 235, 14);
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    .project_content{
        padding: 10px;
    }
    .project_content>h4{
        padding-bottom: 5px;
    }
    .project_content>p{
        font-size: 15px;
    }
}