@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');

.office-img{
    height: 400px;
    width: 400px;
}
.skillcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillcontainer__text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillcontainer__text > h2{
    font-size: 30px;
}

.skillcontainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}

.skillcontainer__image > img{
    width: 600px;
    /* height: 600px; */
    border-radius: 3px;
    object-fit: contain;
}

.skillcontainer__skillset{
    font-family: "montserrat";
}

.skillcontainer__skillset > h5{
    font-family: 'montserrat';
    font-weight: 3px;
    padding-bottom: 20px;
    padding-top: 15px;
}


.skillcontainer__slider > .MuiLinearProgress-colorPrimary{
      background-color: rgb(147, 175, 33);
      
}

.skillcontainer__slider1 > div > .css-edlki6-MuiLinearProgress-root{
    background-color: rgb(207, 24, 24);
}


.skillcontainer__slider2 > div > .MuiLinearProgress-barcolorPrimary{
    background-color: red;
} 


.skillcontainer__slider3 > div > .MuiLinearProgress-colorPrimary{
    background-color: red;
}


.skillcontainer__slider4 > div > .MuiLinearProgress-barcolorPrimary{
    background-color: red;
}


.skillcontainer__slider5 > div > .MuiLinearProgress-barcolorPrimary{
    background-color: red; }


@media screen and (min-width: 481px) and (max-width: 768px){
    .skillcontainer__image{
        flex: 0.4;
        /* text-align: center; */
        /* margin-right: 50px; */
    }
}